.main {
  width: 100%;
  height: 100%;
  background-color:rgb(39, 39, 39);
}

.gridContainer{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 0;
}


.skboxWrapper{
  position: relative;
  min-height: 30vh;
  margin: 0.5%;
  
}

.skboxWrapper:hover{
  animation: jiggle 1s infinite linear;
}

@keyframes jiggle {
  0% {
    scale: 1;
  }
  50%{
    scale: 1.01;
  }
  100% {
    scale: 1;
  } 
}

.skboxBackImage{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center center;
  filter: brightness(50%);
}


@font-face {
  font-family: 'bauhaus';
  src: URL('./Bauhaus.ttf') format('truetype');
}

.skboxText{
  position: relative;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  /* font-family: 'Rubik Mono One', sans-serif; */
  font-family: 'bauhaus', cursive;
  color: rgb(223, 222, 222);  
}


@media only screen and (max-width: 800px) {
  .gridContainer{
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .gridContainer{
    grid-template-columns: 1fr;
  }
}